In [33]:
response = catalog.load('factbook_codesxref_api')

2021-09-02 22:25:09,854 - kedro.io.data_catalog - INFO - Loading data from `factbook_codesxref_api` (APIDataSet)...

In [34]:
import pandas as pd

In [35]:
from io import StringIO

In [36]:
type(response.content)

bytes

In [37]:
from io import IOBase

In [38]:
str_response = response.content.decode('utf-8')

In [39]:
df = pd.read_csv(StringIO(str_response))

In [40]:
df.head()

             Name GEC  A3   A2  NUM STANAG INTERNET
0     Afghanistan  AF  AF  AFG  004    AFG      .af
1        Akrotiri  AX   -    -    -      -        -
2         Albania  AL  AL  ALB  008    ALB      .al
3         Algeria  AG  DZ  DZA  012    DZA      .dz
4  American Samoa  AQ  AS  ASM  016    ASM      .as

In [41]:
df.loc[(df['Name'] == 'United Kingdom')]

/usr/local/lib/python3.8/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

               Name GEC  A3   A2  NUM STANAG INTERNET
258  United Kingdom  UK  GB  GBR  826    GBR      .uk